:root {
    --strongPink: #FF368E;
    --white: white;
    --grey: #919699;
    --orange: #FF8C00;
    --dark: #000000;
    --mint: #98FF98;
    --soul: #E6E6FA;
    --title: 'Balsamiq Sans', cursive;
    --regularText: 'Ysabeau Office', sans-serif
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1 rem = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media (max-width: 850px) {

    .myWidth {
        background-color: #181A1B;
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1500px) {

    .myWidth {
        background-color: #181A1B;
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1500px) {

    .myWidth {
        background-color: #181A1B;
        width: 70%;
        margin: 0 auto;
    }
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--white);
}

h1 {
    font-size: 5.5rem;
    margin: 0 0;
    color: var(--white);
}

h2 {
    font-size: 4rem;
    margin: 0 0;
    color: var(--white);
}

h3 {
    font-size: 3.3rem;
    margin: 0 0;
    color: var(--white);
}

h4 {
    font-size: 2.6rem;
    margin: 0 0;
    color: var(--white);
}

h5,
label {
    font-size: 1.9rem;
    margin: 0 0;
    color: var(--white);
}

p,
input {
    font-size: 1.8rem;
    margin: 0 0;
    color: var(--white);
}

li {
    font-size: 2.3rem;
    color: var(--white);
    margin-bottom: 0.6rem;
    font-family: var(--title);
    font-weight: 400;
}


.titleMain {
    font-family: var(--title);
    font-weight: 700;
    /* Bold */
}

.titleNotMain {
    font-family: var(--title);
    font-weight: 400;
    /* Not Bold */
}

.regularText {
    font-family: var(--regularText);
    font-weight: 300;
}

.white-color {
    color: var(--white);
}

.dark-color {
    color: var(--dark);
}

.strongPinkColor {
    color: var(--strongPink);
}

.grey-color {
    color: var(--grey);
}

.orange-color {
    color: var(--orange);
}

.mint-color {
    color: var(--mint);
}

.image {
    width: 250px;
}

.image2 {
    width: 200px;
}

.button-1 {
    border: none;
    padding: 1.4rem;
    background-color: var(--orange);
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.button-2 {
    border: none;
    padding: 1.4rem;
    color: var(--orange);
    background-color: #181A1B;
    border-radius: 1rem;
    cursor: pointer;
    outline: 2px solid var(--orange);
}

.button-3 {
    border: none;
    padding: 1.4rem;
    background-color: var(--mint);
    color: black;
    border-radius: 1rem;
    cursor: pointer;
}

.button-4 {
    border: none;
    padding: 1.4rem;
    color: var(--mint);
    background-color: #181A1B;
    border-radius: 1rem;
    cursor: pointer;
    outline: 2px solid var(--mint);
}

.icon {
    width: 20px;
}

.img-container-big {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-radius: 2rem;
    background: linear-gradient(45deg, var(--orange), var(--strongPink));
}

.img-container-big-loading {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-radius: 2rem;
    width: 280px;
    height: 331px;
    background: linear-gradient(90deg, #181A1B 25%, #4169e1 50%, #181A1B 75%);
    background-size: 200% 200%;
    animation: imageLoadingAnimation 2s ease-in-out infinite;
}

.img-container-medium-loading {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-radius: 2rem;
    width: 228px;
    height: 262px;
    background: linear-gradient(90deg, #181A1B 25%, #4169e1 50%, #181A1B 75%);
    background-size: 200% 200%;
    animation: imageLoadingAnimation 2s ease-in-out infinite;
}

@keyframes imageLoadingAnimation {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.img-container-2 {
    padding: 1.4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    border-radius: 2rem;
    background: linear-gradient(45deg, var(--strongPink), var(--mint));
}

.clickable {
    cursor: pointer;
}