nav {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1250px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .navRight {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (max-width: 900px) {
    .headerMain {
        display: flex;
        padding-top: 6rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .informationButtons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.navRight {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navRightCouple {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}


.informationButtons {
    display: flex;
    gap: 1rem;
}

.headerMain {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
    align-items: center;
}













.qwer {

    width: 280px;
    /* width: 150px;
    height: 150px; */
}

.qwer2 {
    width: 40px;
    /* width: 150px;
    height: 150px; */
}


.showMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}


.mainText {
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
}

.information {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
}
