body {
    width: 100%;
}

.profileContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.profileContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.profileContainerHeader {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
}

.profileContainerHeaderOptions {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2rem;
    background-color: #98FF98;
}

/*--------------------------------------------------------------------------------*/

.profileRightMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1.5rem;
}

.infoContainer {
    gap: 2rem;
    background-color: var(--soul);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 2rem;
    justify-content: center;
}

.infoContainerForm {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1.4rem;
}

.modalbtn3 {
    border: none;
    padding: 0.7rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 100%;
    font-size: 2rem;
    outline: 2px solid var(--mint);
    color: rgb(0, 0, 0);
    background-color: var(--soul);
}

.form {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.showPlanContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showPlanContainerOptions {
    display: flex;
    gap: 4rem;
}

.pricingbtnCenter-2 {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}